
  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .card {
    height: 900px;
    width: 100%;
    background-color: #e6e6e6;
  }

  .divCard{
    background-color: white;
    float: left;
    width: 50%;
    height: 300px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 2%;
    padding-right: 2%;

    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
  }

  .divGrafico{
    background-color: white;
    float: left;
    width: 50%;
    height: 400px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    padding-left: 2%;
    padding-right: 2%;

    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
  }

  .divCardContent{
    display: flex;
    align-items: center;
    justify-content: center
  }

  .divTable{
    background-color: white;
    height: 705px;
    width: 40%;
    float: left;
    overflow: auto; 
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;

    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
  }


